NEXT_PUBLIC_API_URL=https://api.raxon.tr/sandbox
NEXT_PUBLIC_API_KEY=7227c61c-b287-47d4-843b-485ee2752d20
NEXT_PUBLIC_STORAGE_URL=https://cdn.raxon.tr
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyAHpdb9VunXO_M5MVquimWqOOr6GC6yNhE
